@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/*********** SCROLL BAR *********/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #86d9d1 rgb(100, 100, 100);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: rgb(100, 100, 100);
}
*::-webkit-scrollbar-thumb {
  background-color: #86d9d1;
}
/*******************************/

body {
  margin: 0;
  font-family: Poppins, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ellipsized {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wordBreak {
  overflow-wrap: break-word;
  overflow: hidden;
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
	100% {
    transform: translateX(0);
  }
}
.leftArrow {
  position: fixed;
  color: rgba(126, 205, 197, 0.8);
  transition: transform 0.1s;
}
.leftArrow:hover {
  color: rgba(126, 205, 197, 1);
	-ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  animation: slideToLeft 2s infinite;
  transition: transform 0.1s;
}

@keyframes opacityTransi {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.opacityAnim {
  animation: opacityTransi 0.5s linear;
}
.opacityAnimHalf {
  animation: opacityTransi 0.3s linear;
}
.opacityAnimFast {
  animation: opacityTransi 0.1s linear;
}

.cardZoom {
  transition: transform 0.1s;
}
.cardZoom:hover {
	-ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  transition: transform 0.1s;
}

@keyframes zoomAnim {
  0% {
		-ms-transform: scale(0.1);
		-webkit-transform: scale(0.1);
		transform: scale(0.1);
  }
  100% {
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
  }
}
.zoomAnim {
  animation: zoomAnim 0.2s linear;
}